@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --color-yellow: hsl(47, 88%, 63%);
    --color-gray-950: hsl(0, 0%, 7%);
    --color-gray-500: hsl(0, 0%, 42%);
    --color-white: hsl(0, 0%, 100%);

    /* font family */
    --font: "Figtree", sans-serif;

    /* font weight */
    --weight-extra-bold: 800;
    --weight-medium: 500;

    /* font sizes */
    --size-sm: 0.875rem;
    --size-md: 1rem;
    --size-lg: 1.5rem;

    /* spacing */
    --spacing-300: 1.5rem;
    --spacing-150: 0.75rem;
    --spacing-100: 0.5rem;
    --spacing-50: 0.25rem;
}