@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --color-green: hsl(75, 94%, 57%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey-700: hsl(0, 0%, 20%);
    --color-grey-800: hsl(0, 0%, 12%);
    --color-grey-900: hsl(0, 0%, 8%);

    /* font family */
    --font: "Inter", sans-serif;

    /* font weight */
    --weight-bold: 700;
    --weight-semibold: 600;
    --weight-regular: 400;

    /* font sizes */
    --size-sm: 0.875rem;
    --size-lg: 1.5rem;
}

body {
    font-family: var(--font);
    background-color: var(--color-grey-900);
    color: var(--color-white);
}

main {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 20.375rem;
    padding: 1.44rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey-800);
    border-radius: 0.625rem;
}

.avatar {
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.name {
    font-size: var(--size-lg);
    font-weight: var(--weight-semibold);
    margin-bottom: 0.5rem;
}

.adress {
    font-size: var(--size-sm);
    font-weight: var(--weight-bold);
    color: var(--color-green);
    margin-bottom: 1.5rem;
}

.bio {
    font-size: var(--size-sm);
    font-weight: var(--weight-regular);
    margin-bottom: 1.5rem;
}

.social-list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-link {
    display: block;
    padding: 0.875rem 0;
    border-radius: 0.5rem;
    background-color: var(--color-grey-700);
    text-align: center;
    text-decoration: none;
    font-size: var(--size-sm);
    font-weight: var(--weight-bold);
    color: var(--color-white);
    transition: background-color 0.2s;
}

.social-link:hover {
    background-color: var(--color-green);
    color: var(--color-grey-800);
}